<footer class="footer" id="footer">
  <div class="footer-container">

    <div class="footer-section">
      <h3>Laboratorio Clínico ONG</h3>
      <p>Plataforma digital para consultas clínicas seguras.</p>
    </div>

    <div class="footer-section">
      <h4>Servicios</h4>
      <ul>
        <li><a href="/examenes">Exámenes</a></li>
        <li><a href="/precios">Precios</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Contacto</h4>
      <ul>
        <li>📍 Barquisimeto, Venezuela</li>
        <li>📞 +58 414-5286666</li>
        <li>✉️ laboratorioclinicoongca@gmail.com</li>
      </ul>
    </div>
    <h4>Síguenos</h4>

       <div class="social-icons">
            <a href="https://www.instagram.com/" target="_blank" aria-label="Instagram">
             <i class="fab fa-instagram"></i>
            </a>

            <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook">
            <i class="fab fa-facebook-f"></i>
            </a>

             <a href="https://api.whatsapp.com/send?phone=584145286666" target="_blank" aria-label="WhatsApp">
            <i class="fab fa-whatsapp"></i>
            </a>
          </div>
       </div>
  </div>

  <div class="footer-bottom">
    © 2026 Laboratorio Clínico ONG, C.A. J-29703979-1 · Powered by Axell Peraza
  </div>
</footer>