<footer class="footer" id="contacto">
      <div class="footer-container">
        <div class="footer-section">
          <div class="footer-brand">
            <img src="/static/img/ong.png" alt="logofooter">
          </div>
          <h4>"El Laboratorio de los Barquisimetanos"</h4>
        </div>

        <div class="footer-section">
  <h4>Síguenos</h4>

       <div class="social-icons">
            <a href="https://www.instagram.com/laboratorioclinicoongca/" target="_blank" aria-label="Instagram">
             <i class="fab fa-instagram"></i>
            </a>

            <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook">
            <i class="fab fa-facebook-f"></i>
            </a>

             <a href="https://api.whatsapp.com/send?phone=584145286666" target="_blank" aria-label="WhatsApp">
            <i class="fab fa-whatsapp"></i>
            </a>
          </div>
       </div>

        <div class="footer-section">
          <h4>Servicios</h4>
          <ul>
            <li><a href="/examenes">Exámenes</a></li>
            <li><a href="/registro">Registrarse</a></li>
            <li><a href="{{ url_for ('aliados')}}">Servicio Corporativo</a></li>
          </ul>
        </div>

        <div class="footer-section">
          <h4>Contacto</h4>
          <ul>
            <li>📍 Barquisimeto, Venezuela</li>
            <li>📞 +58 414-5286666</li>
            <li>✉️ laboratorioclinicoongca@gmail.com</li>
          </ul>
        </div>
      </div>

      <div class="footer-bottom">
        © 2026 Laboratorio Clínico ONG, C.A. J-29703979-1<br />Powered by Axell Peraza
      </div>
    </footer>