body {
    background: linear-gradient(135deg, #fff0f1, #fff0f1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100hv;
}

.container {
    max-width: 420px;
}

.login-card h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color:#5e2129;
    font-weight: 600;
}

.form-label {
    font-weight: 500;
    color: #444;
}

.form-control {
    border-radius: 8px;
    padding: 10px;
}

.form-control:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 0 0. 15rem rgba(13, 110, 253, 0.25);
}

.btn-primary {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.login-link a{
    text-decoration: None;
    font-size: 0.9rem;
    color: #0d6efd;
}
.login-link a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
    .login-card {
        padding: 1.5rem;
    }
}