body {
    background: #f4f6f8;
    font-family: Arial, sans-serif;
}

.login-container {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 40px;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 40px;
}

label {
    display: block;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    border-radius: 9px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #311618;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #311618;
}