body {
    font-family: Arial, sans-serif;
    background: #eef2f5;
}

header {
    background: #0077cc;
    color: white;
    padding: 20px;
    text-align: center;
}

.panel {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 30px;
    text-decoration: none;
    color: black;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.card:hover {
    background: #f1f1f1;
}

.salir {
    background: #ff4d4d;
    color: white;
}