{% extends "base.html" %} {% block title %}Dashboard{% endblock %} 

{% block contenido %}

  <!-- ================== REALIZADOS ================== -->
  <h4 class="mb-3">Exámenes realizados</h4>

{% if realizados %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Examen</th>
      <th>Fecha</th>
      <th class="text-center">Resultado</th>
    </tr>
  </thead>
  <tbody>
    {% for ex in realizados %}
    <tr>
      <td>{{ ex.nombre_examen }}</td>
      <td>{{ ex.fecha }}</td>
      <td class="text-center">
        {% if ex.archivo_pdf %}
        <a href="/{{ ex.archivo_pdf }}" download title="Descargar resultado">
          ⬇️
        </a>
        {% else %}
        <span class="text-muted">Pendiente</span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="text-muted">Aún no tienes exámenes realizados.</p>
{% endif %} {% endblock %}
</section>

<script src="{{ url_for('static', filename='js/dashboard.js')}}"></script>
