<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exámenes Disponibles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Exámenes Disponibles</h1>
    <ul>
        {% for examen in examenes %}
            <li>{{ examen['nombre_examen'] }} - ${{ examen['precio'] }}</li>
        {% endfor %}
    </ul>
    <a href="/">Volver al inicio</a>
</body>
</html>