{% extends "base.html" %}

{% block title %}Registro de Pacientes{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
{% endblock %}

{% block contenido %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg p-4 login-card">
        <h2 class="text-center mb-4">Registro de Paciente</h2>

        <form method="POST">
            <div class="mb-3">
                <label class="form-label">Nombre completo</label>
                <input type="text" name="nombre" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Cédula</label>
                <input type="Text" name="cedula" class="form-control" required>
            </div>
            

            <div class="mb-3">
                <label class="form-label">telefono</label>
                <input type="text" name="telefono" class="form-control" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Correo Electronico</label>
                <input type="email" name="email" class="form-control" required>
            </div>
            

            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" name="contraseña" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Confirmar contraseña</label>
                <input type="password" name="confirmar_contraseña" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">
                Registrarse
            </button>

            <div class="text-center mt-3">
                <a href="{{ url_for('login') }}">¿Ya tienes cuenta? Inicia sesión</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}